
.errorSection {
    display: flex;
    margin-top: 9rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.mainContent{
    
    display: flex;
    padding: 2rem;
    width: 90%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    
} 

.mainContent h1 span{
    font-weight: bold;
    color: #ff0000;
}

.backHomeLink {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}
.backHomeLinkButton{
    padding: 0.6rem 1.2rem;
    background-color: #494444;
    border: #000000 solid 2px;
    border-radius: 7px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.backHomeLinkButton:hover {
    transition: all 0.3s ease;
    transform: scale(1.01);
    background-color: #ffffff;
    color: black;
    
}