.errorSection {
    display: flex;
    margin-top: 9rem;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    background: var(--app-bg);
    color: var(--app-text);
}

.mainContent{
    display: flex;
    padding: 2rem;
    width: 90%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.mainContent h1 span{
    font-weight: bold;
    color: var(--app-danger);
}

.backHomeLink {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.backHomeLinkButton{
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--app-primary-bg);
    border: var(--app-primary-bg) solid 2px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--app-primary-text);
    font-weight: 700;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.backHomeLinkButton:hover {
    background-color: var(--app-surface);
    color: var(--app-text);
}
