
.dropdown_categorias{
    position: relative;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdown-toggle {
    display: flex
;
    align-items: center;
    gap: 6px;
    user-select: none;
    font-family: "Halis GR", sans-serif;
    margin-top: 0 !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    color: #787878;
    transition: all 0.5s 
ease;
}

.dropdown-toggle:hover {
    color: #444444;
    transition: all 0.5s 
ease;
}