/* src/components/PageLoader/style.module.css */

.loader_overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.loader_content {
  display: flex;
  align-items: flex-end; 
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 2rem;
  color: #333; 
  font-weight: bold;
}

.loader_text {
  margin: 0;
  margin-right: 5px; 
  animation: pulse 1.5s infinite alternate; 
}

.dots_container {
  display: flex;
  position: relative;
  width: 30px; 
  height: 20px;
  overflow: hidden; 
}

.dot {
  opacity: 0;
  animation: dot-blink 1.5s infinite steps(1, end); 
  position: absolute;
  font-size: 2rem;
  line-height: 1; 
}


.dots_container .dot:nth-child(1) {
  animation-delay: 0s;
  left: 0;
}
.dots_container .dot:nth-child(2) {
  animation-delay: 0.5s;
  left: 10px;
}
.dots_container .dot:nth-child(3) {
  animation-delay: 1s;
  left: 20px;
}



@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.03); opacity: 0.9; }
}

@keyframes dot-blink {
  0%, 33% {
    opacity: 0;
  }
  34%, 66% {
    opacity: 1;
  }
  67%, 100% {
    opacity: 0;
  }
}