:root {
  --header-bg: black;
  --header-color: white;
  --underline-color: white;
  --logo-url: url('/src/assets/logo192white.png');
}

header {
  z-index: 999;
  background-color: var(--header-bg);
  color: var(--header-color);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 
  ease-in;
}

.noBreak {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
}

.navbarWrapper {
  position: absolute;
  display: inline;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  height: 0 !important;
  z-index: 999;
}

.nav {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: transparent;
  padding-top: 15px;
}

/* --- MENU ESQUERDO --- */
.centeredMenu {
  display: inline-flex;
  position: relative;
  width: calc(100% / 3);
  padding-left: 4rem;
}

.centeredMenu ul {
  display: inline-flex;
  list-style: none;
  height: 3rem;
  align-items: top;
  gap: 1.7rem;
}

.centeredMenu li {
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  padding: 15px 0 25px;
  cursor: pointer;
  color: var(--header-color);
}

.centeredMenu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--underline-color);
  transition: width 0.2s ease-in-out;
  margin-bottom: 9px;
}

.centeredMenu li:hover::after {
  width: 100%;
}

/* --- LOGO --- */
.logoWrapper {
  transition: transform 0.4s ease, filter 0.5s ease;
}

.logoWrapper:hover {
  transform: scale(1.1);
}

.logoWrapper img {
  content: var(--logo-url);
  transition: content 0.3s ease;
}

/* --- MENU DIREITO --- */
.rightMenuWrapper {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.rightMenu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  margin: 0 1rem;
  padding: 0;
}

.rightMenu li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--header-color);
  transition: transform 0.4s ease-in-out, color 0.1s ease;
}

.rightMenu li button:hover {
  transform: scale(1.3);
  color: var(--header-color);
}

@media (min-width: 1201px) {
  .searchIconDesktop {
    font-size: 1.5rem;
    color: var(--header-color);
    cursor: pointer;
  }
}
