:root {
  --header-bg: black;
  --header-color: white;
  --underline-color: white;
  --logo-url: url('/src/assets/logo192white.png');
}

header {
  z-index: 998;
  background-color: var(--header-bg);
  color: var(--header-color);
  visibility: visible;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  transition: opacity 0.3s 
  ease-in;
}

.noBreak {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
}

.navbarWrapper {
  position: absolute;
  display: inline;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  height: 0 !important;
  z-index: 999;
}

.nav {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: transparent;
  padding-top: 15px;
}

/* --- MENU ESQUERDO --- */
.centeredMenu {
  display: inline-flex;
  position: relative;
  width: calc(100% / 3);
  padding-left: 4rem;
}

.centeredMenu ul {
  display: inline-flex;
  list-style: none;
  height: 3rem;
  align-items: top;
  gap: 1.7rem;
}

.centeredMenu li {
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  padding: 15px 0 25px;
  cursor: pointer;
  color: var(--header-color);
}

.centeredMenu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--underline-color);
  transition: width 0.2s ease-in-out;
  margin-bottom: 9px;
}


.centeredMenu li:hover::after {
  width: 100%;
}

/* --- LOGO --- */
.logoWrapper {
  transition: transform 0.4s ease, filter 0.5s ease;
}

.logoWrapper:hover {
  transform: scale(1.1);
}

.logoWrapper img {
  content: var(--logo-url);
  transition: content 0.3s ease;
}

/* --- MENU DIREITO --- */
.rightMenuWrapper {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.rightMenu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  margin: 0 1rem;
  padding: 0;
}

.rightMenu li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--header-color);
  transition: transform 0.4s ease-in-out, color 0.1s ease;
}

.rightMenu li button:hover {
  transform: scale(1.3);
  color: var(--header-color);
}

.searchWrapper {
  position: absolute;
  top: 120px; /* logo abaixo do header */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 10px;
  background-color: var(--header-bg);
  animation: fadeIn 0.3s ease-in-out;
}


.searchInput {
  width: 70%;
  padding: 0 25px;
  border: none;
  border-bottom: 2px solid var(--header-color);
  color: var(--header-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.searchInput::placeholder {
  margin-left: 10px;
  color: var(--header-color);
  opacity: 0.7;
}


.searchWrapper input:focus {
  outline: none;
  border-bottom: 2px solid var(--header-color); 
}

.searchConfirmButton {
  background: none;
  color: var(--header-color);
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.searchConfirmButton:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.searchCloseButton {
  margin-left: 0.5rem;
  border: none;
  color: var(--header-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.searchCloseButton:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/*
.btn_login > svg{
  color: rgb(84, 83, 94);
  font-size: 1.5rem;
}
*/

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (min-width: 1201px) {
  .searchIconDesktop {
    font-size: 1.5rem;
    color: var(--header-color);
    cursor: pointer;
  }
}
/* Menu mobile padrão escondido */
.menuToggleWrapper {
  display: none;
}
.mobileMenu{
  display: none;
}

@media (max-width: 1400px) {
  .logoWrapper{
    padding-left: 25px;
  }
  .logoWrapper:hover {
  transform: scale(0.9);
}
  .centeredMenu {
    display: none; /* esconde menu desktop */
  }

  .menuToggleWrapper {
    display: block; /* mostra hamburguer */
  }

  .mobileMenu {
    display: block;
    position: fixed;
    top: 15px; /* altura do header */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    padding: 1rem 0;
    z-index: 997;
    animation: fadeIn 0.3s ease-in-out;
  }

  .mobileMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0 2rem;
  position: relative; /* importante para top funcionar */
  top: 120px; /* distancia do topo */
}

  .mobileMenu li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .mobileMenuTop li{
    padding-left: 10px;
  }
  .mobileMenuTop li a:hover{
    opacity: 0.5;
    font-weight: 700;
  }

  .mobileMenuBottom li{
    display: flex;
    margin-top: 100px;
    
  }
  .mobileMenuBottom li a{
    border: 4px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: 700;
    transition: ease-in-out 0.2s;
  }
  .mobileMenuBottom li a:hover{
    background-color: black;
    color: white;
  }
}

@media (max-width: 600px){
  .logoWrapper{
    padding-left: 20px;
  }
  .logoWrapper img{
    width: calc(110px + 0.2vw);
  }
  .rightMenuWrapper {
    padding-right: 10px;
  }
  .rightMenuWrapper ul{
    gap: 1.2rem;
    
  }
  .rightMenuWrapper li button{
    font-size: calc(0.9rem + 0.2vw);
    
  }
}

@media (max-width: 350px){
  .logoWrapper{
    padding-left: 20px;
  }
  .logoWrapper img{
    width: calc(100px + 0.2vw);
  }
  .rightMenuWrapper {
    padding-right: 25px;
  }
  .rightMenuWrapper li button{
    font-size: calc(0.8rem + 0.2vw);
  }
}