*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 
  ease-in;
  z-index: 900;

}

div{
  display: block;
  unicode-bidi: isolate;
}

.shop_section {
  display: flex;
  margin-top: 9rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 5px #00137c;
}

.shop_body {
  display: flex;
  width: 100%;
  max-width: 1200px;          /* 🔹 largura máxima centralizada */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 5px #2bff00;
}

.shop_Container {
  width: 100%;
  padding: 0 20px;
}
/*PRODUTOS TESTE*/
.produtos_grid .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  text-transform: uppercase;
}

.card:hover {
  transform: translateY(-5px);
}

.produtoImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.produtoPlaceholder {
  width: 100%;
  height: 180px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.produtoNome {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.produtoPreco {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


@media (max-width: 1200px) {
  .shop_section {
    margin-top: 9rem;
  }
}